<div class = "complement"></div>
<div class="footer">
    	<div class = "social-media-links">
    		<div class="social-media-icon">
    			<a href="https://github.com/Xiaoxuhmm">
    				<i style="font-size:24px" id="github-icon" class="fa">&#xf09b;</i>
    			</a>
    		</div>
    		<div class="social-media-icon">
    			<a href="https://www.linkedin.com/in/xiaoxu-li/">
    				<i style="font-size:24px" id="linkedin-icon" class="fa fa-linkedin"></i>
    			</a>
    		</div>
    	</div>
    </div>
</body>
</html>