<% include partials/header %>

	<div class="main-content-wrapper">
		<div class="col-3">
			<img id="main-content-img" src="views/selfile1.jpg">
		</div>
		<div class="col-8">
			<div id="content">
				<p>Hi, I'm Xiaoxu.</p>
				<p>
					Explorer. Traverler. 
				</p>
				<p>
					Student in New York University. Former Australia work and holiday visa holder.  
				</p>
			</div>	
		</div>
    </div>

<% include partials/footer %>